body {
  background-color: #f4f5f6;
  font-family: monospace;
}

.wrapper {
  padding-top: 10%;
  margin: 0 auto;
}

.vignette {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 10px solid black;
  z-index: -1;
}

.inner-wrapper {
  display: flex;
  padding: 8px;
}

.contact {
  margin: 0 auto;
  
  h1 {
    background-color: black;
    padding: 0.1em 0.3em;
    margin: 0 auto;
    color: white;
    margin-top: 0;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
